<div class="card">
  <div class="card-body">
    <form action="/search" method="POST">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <i class="fas fa-search-location"></i>
          </span>
        </div>
        <input id="inputSearch" type="text" class="form-control" name="search" placeholder= 'Try "TacoalPastor" or a colony'>
      </div>
      <input id="btnEnter" type="submit" hidden>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="home card-title">
     <a href="/tacos"><img src="/images/home1.png"></a>
      <a href="/sopas"><img src="/images/home2.png"></a>
      <a href="/burritos"><img src="/images/home3.png"></a>
      <a href="/enchiladas"><img src="/images/home4.png"></a>
      <a href="/chilaquiles"><img src="/images/home5.png"></a>
    </h4>
  </div>
</div>

<script>
  const input = document.getElementById('inputSearch')
  input.addEventListener('keyup', (e) => {
    if(e.keyCode === 13){
      e.preventDefault()
      document.getElementById('btnEnter').click()
    }
  })
</script>