<div class="card">
  <div class="card-body">
    <form action="/search" method="POST">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <i class="fas fa-search-location"></i>
          </span>
        </div>
        <input type="text" class="form-control" name="search" onkeypress="runSearch(event)">
      </div>
    </form>
  </div>
</div>

<script>
  function runSearch(e){
    if(e.keyCode == 13){
      const search = document.getElementById
    }
  }
</script>