{{#if data}}
<div class="card-columns">
  {{#each data as |place|}}
  {{> viewResult place}}
  {{/each}}
</div>
{{else}}
<div class="alert alert-primary" role="alert">
  <strong>Cannot find nothing, please try again e.g. 'Polanco'</strong>
</div>
{{/if}}