<h1>GarnachaRoute Lobby</h1>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
  <a type="button" href="/login" class="btn btn-primary">Log In</a>
  <a type="button" href="/signup" class="btn btn-primary">Sign Up</a>
</div>